In [ ]:
# set up on Atlas first
# https://allenai.org/data/cord-19
#

In [ ]:
#!pip install pymongo
#!pip install pymongo[srv]
#!pip install dnspython

In [ ]:
import pymongo

In [ ]:
from pymongo import MongoClient

In [ ]:
# note - this URL may not work, as I may take it off line when the workshop is not in session
# you'll need to set up a username and password for your MongoDB and add them to the URL below. 
MDB_URL = "mongodb+srv://pymongo_workshop_user:pymongo_workshop_password@python-mongo-workshop.unmjr.gcp.mongodb.net/test?retryWrites=true&w=majority"

In [ ]:
client = MongoClient(MDB_URL)

In [ ]:
client.list_database_names()

In [ ]:
db = client.get_database("sample_restaurants")

In [ ]:
db.list_collection_names()

In [ ]:
restaurants = db.get_collection("restaurants")

In [ ]:
restaurants

In [ ]:
for r in restaurants.find_one():
    print(r)

In [ ]:
for r in restaurants.find({'cuisine': 'Irish'}):
    print(r)

In [ ]:
for r in restaurants.find({'cuisine': 'Irish'}, {'_id':0, 'borough': 1}):
    print(r['borough'])

In [ ]:
for r in restaurants.find({ '$or' : [ { 'cuisine' : 'Irish' }, { 'cuisine' : 'Indian' } ] }):
    print(r['name'], r['borough'], r['cuisine'])

In [ ]:
for r in restaurants.find({'name': 'Rogers Irish Tavern' } ):
    print(r['borough'], r['cuisine'])

In [ ]:
for r in restaurants.find({'cuisine': { '$in': [ "Irish", "Indian" ] } }, 
                          {'name': 1, 'cuisine': 1, 'borough': 1, '_id': 0}):
    print(r['borough'], r['cuisine'])

In [ ]:
db.restaurants.distinct("cuisine")

In [ ]:
for agg in db.restaurants.aggregate([{'$group':{'_id':'$cuisine','count':{'$sum': 1}}}]):
    print(agg)

In [ ]:
import re
regx = re.compile("^deli", re.IGNORECASE)
for r in restaurants.find({'name': { '$regex': regx } }):
    print(r['name'])

In [ ]:
agg = db.restaurants.aggregate([{'$group':{'_id':'$cuisine','count':{'$sum': 1}}}])

In [ ]:
for a in agg:
    print(a)

In [ ]:
agg = db.restaurants.aggregate([{'$group':{'_id':'$cuisine','count':{'$sum': 1}}}])

In [ ]:
for a in agg:
    print(a)

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame.from_records(restaurants.find({'cuisine': 'Irish'}))

In [ ]:
df